#INCLUDE <BEHAVIORS.DTSI>
#INCLUDE <DT-BINDINGS/ZMK/BT.H>
#INCLUDE <DT-BINDINGS/ZMK/KEYS.H>
#INCLUDE <DT-BINDINGS/ZMK/POINTING.H>

#DEFINE zmk_pointing_default_scrl_val 80

&MT {
    FLAVOR = "BALANCED";
    QUICK-TAP-MS = <0>;
};

&TRACKBALL {
    AUTOMOUSE-LAYER = <4>;
    SCROLL-LAYERS = <5>;

    // ARROWS {
    //     LAYERS = <3>;
    //     BINDINGS =
    //         <&KP right_arrow>,
    //         <&KP left_arrow>,
    //         <&KP up_arrow>,
    //         <&KP down_arrow>;
    //     TICK = <10>;
    //     WAIT-MS = <5>;
    //     TAP-MS = <5>;
    // };
};

/ {
    COMBOS {
        COMPATIBLE = "ZMK,COMBOS";

        TAB {
            BINDINGS = <&KP tab>;
            KEY-POSITIONS = <11 12>;
        };

        SHIFT_TAB {
            BINDINGS = <&KP ls(tab)>;
            KEY-POSITIONS = <12 13>;
        };

        bt {
            BINDINGS = <&MO 6>;
            KEY-POSITIONS = <0 1>;
        };

        COLON {
            BINDINGS = <&KP semicolon>;
            KEY-POSITIONS = <19 20>;
        };

        AT {
            BINDINGS = <&KP at_sign>;
            KEY-POSITIONS = <18 19>;
        };

        SPACE {
            BINDINGS = <&KP space>;
            KEY-POSITIONS = <30 31>;
        };
    };

    MACROS {
        TO_LAYER_0: TO_LAYER_0 {
            COMPATIBLE = "ZMK,BEHAVIOR-MACRO-ONE-PARAM";
            #BINDING-CELLS = <1>;
            BINDINGS = <&TO 0 &MACRO_PARAM_1TO1 &KP macro_placeholder>;
            LABEL = "to_layer_0";
        };

        PAGE_BACK: PAGE_BACK {
            COMPATIBLE = "ZMK,BEHAVIOR-MACRO";
            #BINDING-CELLS = <0>;
            BINDINGS =
                <&MACRO_PRESS>,
                <&KP left_command>,
                <&MACRO_TAP>,
                <&KP left_arrow>,
                <&MACRO_RELEASE>,
                <&KP left_command>;

            LABEL = "page_back";
        };

        PAGE_NEXT: PAGE_NEXT {
            COMPATIBLE = "ZMK,BEHAVIOR-MACRO";
            #BINDING-CELLS = <0>;
            BINDINGS =
                <&MACRO_PRESS>,
                <&KP left_command>,
                <&MACRO_TAP>,
                <&KP right_arrow>,
                <&MACRO_RELEASE>,
                <&KP left_command>;

            LABEL = "page_next";
        };

        PAGE_VIEW: PAGE_VIEW {
            COMPATIBLE = "ZMK,BEHAVIOR-MACRO";
            #BINDING-CELLS = <0>;
            BINDINGS =
                <&MACRO_PRESS>,
                <&KP left_command>,<&KP left_shift>
                <&MACRO_TAP>,
                <&KP backslash>,
                <&MACRO_RELEASE>,
                <&KP left_command>,<&KP left_shift>;

            LABEL = "page_view";
        };
    };

    BEHAVIORS {
        LT_TO_LAYER_0: LT_TO_LAYER_0 {
            COMPATIBLE = "ZMK,BEHAVIOR-HOLD-TAP";
            LABEL = "layer_tap_to_0";
            BINDINGS = <&MO>, <&TO_LAYER_0>;

            #BINDING-CELLS = <2>;
            TAPPING-TERM-MS = <200>;
        };
        ENCODER_MSC_DOWN_UP: ENCODER_MSC_DOWN_UP {
            COMPATIBLE = "ZMK,BEHAVIOR-SENSOR-ROTATE";
            LABEL = "encoder_msc_down_up";
            #SENSOR-BINDING-CELLS = <0>;
            BINDINGS = <&MSC scrl_down>, <&MSC scrl_up>;
            TAP-MS = <20>;
        };
    };

    KEYMAP {
        COMPATIBLE = "ZMK,KEYMAP";

        DEFAULT_LAYER {
            BINDINGS = <
&KP q             &KP w         &KP e             &KP r                 &KP t                                                          &KP y        &KP u  &KP i      &KP o    &KP p
&KP a             &KP s         &KP d             &KP f                 &KP g        &KP ls(lg(s))                    &TRANS           &KP h        &KP j  &KP k      &KP l    &KP minus
&MT left_shift z  &KP x         &KP c             &KP v                 &KP b        &KP left_shift                   &KP right_shift  &KP n        &KP m  &KP comma  &KP dot  &KP slash
&KP lctrl         &KP left_alt  &KP left_command  &MT lctrl language_2  &LT 2 space  &LT_TO_LAYER_0 1 language_1      &KP backspace    &LT 3 enter                             &KP del
            >;
            SENSOR-BINDINGS = <&ENCODER_MSC_DOWN_UP>;
        };

        cHARACTERS {
            BINDINGS = <
&KP esc         &TRANS           &TRANS       &KP caret     &KP ampersand                      &KP grave       &KP single_quote  &KP double_quotes  &KP left_parenthesis  &KP right_parenthesis
&KP tab         &KP exclamation  &KP percent  &KP dollar    &KP pipe       &TRANS      &TRANS  &KP underscore  &KP at_sign       &KP hash           &KP left_bracket      &KP right_bracket
&KP left_shift  &TRANS           &TRANS       &KP asterisk  &TRANS         &TRANS      &TRANS  &KP equal       &KP minus         &KP plus           &KP tilde             &KP backslash
&TRANS          &TRANS           &TRANS       &TRANS        &TRANS         &TRANS      &TRANS  &TRANS                                                                     &TRANS
            >;
        };

        num {
            BINDINGS = <
&KP f1  &KP f2  &KP f3  &KP f4   &KP f9                       &KP kp_divide &KP number_7  &KP number_8  &KP number_9  &KP plus
&KP f5  &KP f6  &KP f7  &KP f8   &KP f10  &TRANS      &TRANS  &KP astrk     &KP number_4  &KP number_5  &KP number_6  &KP minus
&TRANS  &TRANS  &TRANS  &KP f11  &KP f12  &TRANS      &TRANS  &KP number_0  &KP number_1  &KP number_2  &KP number_3  &KP equal
&TRANS  &TRANS  &TRANS  &TRANS   &TRANS   &TRANS      &TRANS  &TRANS                                                  &TRANS
            >;
        };

        arrow {
            BINDINGS = <
&TRANS  &TRANS  &TRANS  &TRANS  &TRANS                      &TRANS          &KP end         &KP home      &KP esc          &PAGE_BACK
&TRANS  &TRANS  &TRANS  &TRANS  &TRANS  &TRANS      &TRANS  &KP left_arrow  &KP down_arrow  &KP up_arrow  &KP right_arrow  &PAGE_NEXT
&TRANS  &TRANS  &TRANS  &TRANS  &TRANS  &TRANS      &TRANS  &TRANS          &KP page_down   &KP page_up   &TRANS           &PAGE_VIEW
&TRANS  &TRANS  &TRANS  &TRANS  &TRANS  &TRANS      &TRANS  &TRANS                                                         &TRANS
            >;
        };

        mouse {
            BINDINGS = <
&KP esc  &TRANS  &TRANS  &TRANS  &TRANS                      &TRANS  &TRANS    &MKP mb3  &TRANS  &TRANS
&TRANS   &TRANS  &TRANS  &TRANS  &TRANS  &TRANS      &TRANS  &TRANS  &MKP mb1  &MKP mb2  &TRANS  &TRANS
&TRANS   &TRANS  &TRANS  &TRANS  &TRANS  &TRANS      &TRANS  &TRANS  &TRANS    &TRANS    &TRANS  &TRANS
&TRANS   &TRANS  &TRANS  &TRANS  &TRANS  &TRANS      &TRANS  &TRANS                              &TRANS
            >;
        };

        scroll {
            BINDINGS = <
&TRANS  &TRANS  &TRANS  &TRANS  &TRANS                      &TRANS  &TRANS  &TRANS  &TRANS  &TRANS
&TRANS  &TRANS  &TRANS  &TRANS  &TRANS  &TRANS      &TRANS  &TRANS  &TRANS  &TRANS  &TRANS  &TRANS
&TRANS  &TRANS  &TRANS  &TRANS  &TRANS  &TRANS      &TRANS  &TRANS  &TRANS  &TRANS  &TRANS  &TRANS
&TRANS  &TRANS  &TRANS  &TRANS  &TRANS  &TRANS      &TRANS  &TRANS                          &TRANS
            >;
        };

        LAYER_6 {
            BINDINGS = <
&TRANS  &TRANS        &TRANS        &TRANS        &TRANS                           &BT bt_sel 0  &BT bt_sel 1  &BT bt_sel 2  &BT bt_sel 3  &BT bt_sel 4
&TRANS  &TRANS        &TRANS        &TRANS        &TRANS  &TRANS      &TRANS       &TRANS        &TRANS        &TRANS        &TRANS        &TRANS
&TRANS  &KP number_1  &KP number_2  &KP number_3  &TRANS  &TRANS      &BOOTLOADER  &TRANS        &TRANS        &TRANS        &TRANS        &BT bt_clr
&TRANS  &TRANS        &TRANS        &TRANS        &TRANS  &TRANS      &TRANS       &TRANS                                                  &BT bt_clr_all
            >;
        };
    };
};

